:root {
    --dark-blue: #333651;
    --cream: #FFF9F2;
    --teal: #3D96B7;
}


body {

    font-family: sans-serif;
    background-color: var(--cream);
    color: var(--dark-blue);
    margin: 0px;
}

menu {
    margin: 0px;
}

.container{
    width: 60%;
    margin: auto;
}

/*general */

a {
    color: var(--teal);
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.width-33 {
    width: 33%;
}

.hidden {
    display: none;
}

/*header*/

header {
    background-color: var(--teal);
    padding: 20px;
    margin-bottom: 30px;
}

header a {
    color: var(--cream);
}

header nav {

    width: 80%;
    margin: auto;

}

header nav li {
    list-style: none;
}





.blog article {
    width: 33%;
}

/*footer */

footer {
    background-color: var(--dark-blue);
    color: var(--cream);
    padding: 20px 0px;
}

footer nav {
    width: 80%;
    margin: auto;
}

footer nav li {
    list-style: none;
}

footer nav>menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: top;
}

/* pet gallery */

#pet-gallery-container {

    background-color: var(--dark-blue);
    
}

#pet-gallery {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#pet-gallery div:last-of-type {
    display: flex;
    flex-direction: column;
}

/*testimonials*/

#testimonials {
    background-color: var(--teal);
}